.responsive-icon {
  font-size: 64px;
  flex: 1;
  position: relative;
}

@media (max-width: 999px) {
  .responsive-icon {
    font-size: 32px;
  }
}

@keyframes animatedicons {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.responsive-icon:hover {
  animation: animatedicons 300ms;
  animation-fill-mode: forwards;
  color: wheat;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}
